:root {
  /* Colors */
  --footer-yellow: #be9a31;
  --border-color: #d9d9d9;
  --border-color-top: #be9a31;
  --form-color: #b49435d7;
  --input-color: #b19c59;
  --button-color: #2a4563;

  /* Font Family */
  --baskervville-font: "Baskervville";
  --montserrat-font: "Montserrat";
  --poppins-font: "Poppins";
}
body {
  overflow-x: hidden;
}
/* ===========global css============== */

.footercolor {
  background-color: var(--footer-yellow);
}

.fill {
  border: 1px solid var(--border-color);
}

.baskervville {
  font-family: var(--baskervville-font);
}

.Montserrat {
  font-family: var(--montserrat-font);
}

.poppins {
  font-family: var(--poppins-font);
}

/* ================Navbar CSS============ */

.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  background-color: #fff !important;
  border-top: 6px solid var(--border-color-top);
}

.logo {
  width: 120px;
}

.navbar a {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

/* .contact-links a::after {
  content: "";
  position: absolute;
  top: 3rem;
  bottom: 0;
  right: 23rem;
  width: 1px;
  height: 20px;
  background: #000;
} */
/*  */
/* .navbar-nav {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navbar-nav li {
  position: relative;
  display: flex;
  align-items: center;
} */
/*  */
@media (min-width: 576px) {
  .contact-links a {
    display: inline-block;
  }
  .contact-links a {
    /* display: flex; */
    flex-direction: row;
  }
}

/* =============main Section CSS============== */

.main-line {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.Cform {
  border-radius: 5px;
  margin-top: -5rem;
}

.formcolor {
  background-color: var(--form-color);
}

.input {
  background-color: var(--input-color);
}

.button {
  background-color: var(--button-color);
}

.mybutton {
  background-color: var(--button-color);
  color: #ffffff;
  font-size: 13px;
  border: 1px solid var(--button-color);
  width: fit-content;
  font-family: var(--montserrat-font), sans-serif;
  padding: 10px 50px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .main-text {
    margin-bottom: 6rem;
    width: 65%;
  }

  .map {
    width: 100%;
  }

  .location-content {
    margin-left: 3rem;
  }
}

@media (max-width: 768px) {
  .main-text {
    margin-left: 3rem;
    width: 90%;
    margin-bottom: 0rem;
  }

  .location-content {
    margin-left: 0rem;
  }

  .mainform {
    margin-top: 3rem;
  }

  .aboutcontent {
    margin-left: 5rem;
  }
}

@media (max-width: 576px) {
  .mymain-section {
    height: 10rem;
  }
}

@media (max-width: 480px) {
  .main-text {
    margin-left: 1rem;
  }
}

/* =============ABout section CSS================ */

.heading-color {
  color: var(--footer-yellow);
}

.about-img-1 {
  width: 100%;
  z-index: 2;
  margin-top: 4%;
}

.about-img-2 {
  width: 100%;
  padding-left: 10%;
}

.about-content-details {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
}

@media (min-width: 992px) {
  .about-img-1 {
    width: 35%;
    margin-left: -2rem;
    margin-top: 7%;
  }
  .about-img-2 {
    margin-left: 10%;
  }
}

@media (max-width: 868px) {
  .about-img-1 {
    width: 40%;
    margin-top: 7%;
  }

  .aboutcontent {
    padding-left: 1%;
  }
}

@media (max-width: 576px) {
  .about-img-2 {
    z-index: 2;
    width: 100%;
    padding-left: 20%;

    margin-right: 2%;
  }

  .about-img-1 {
    z-index: 3;
    width: 35%;
    margin-top: 5%;
    padding-top: 2%;
    margin-left: 2%;
  }
}

/*==================== Map Section CSS=============== */

.location-content {
  margin-right: 3rem;
}

.location-content-details {
  font-size: 16px;
  color: #777777;
  font-weight: 400;
}

/* ============Gallery Section CSS================= */
/* Swiper CSS */

.gallary-swiper .next-arrow {
  margin-right: -1.5rem;
  width: 60.46px;
  height: 60.46px;
}

.gallary-swiper .prev-arrow {
  margin-left: -1.5rem;
  width: 60.46px;
  height: 60.46px;
}

.swiper-slide img {
  display: block;
  /* for image bigger */
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.swiper-pagination {
  bottom: -3px;
}

.swiper-pagination .swiper-pagination-bullet {
  font-family: var(--montserrat-font);
  width: 35px !important;
  height: 35px !important;
  border-radius: unset;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  color: #000;
  opacity: 1 !important;
  background: white;
  padding-top: 5px;
}

.swiper-pagination-bullet-active {
  width: 36px;
  color: #fff !important;
  background-color: var(--footer-yellow) !important;
}

/* .left {
  display: inline-block;
  left: 16rem;
  margin-right: 16rem;
  margin-bottom: -5rem;
}

.right {
  display: inline-block;
  left: 30rem;
  margin-bottom: -5rem;
} */

/* ===================Aminities Section CSS============ */

.border-color {
  border: 2px solid var(--footer-yellow);
}

section {
  padding: 40px 0px;
}

/* =====================Neighbourhood section================== */
.small-text {
  font-size: 11px;
  font-weight: 500;
  color: gray;
  margin-right: 4rem;
}

.black-font {
  font-weight: 500;
  color: black;
  display: inline-block;
  margin-left: 2.5rem;
}

.list-disc {
  color: var(--footer-yellow);
}

/* --------------- */
.main-title {
  font-size: 38px;
  color: var(--footer-yellow);
  position: relative;
  width: fit-content;
  font-family: var(--baskervville-font), serif !important;
  line-height: 50px;
  width: auto;
}

.list-text ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 8px;
}

.list-text h5 {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
}

.list-text h5::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 0;
  left: -10px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: var(--footer-yellow);
}

/* =============Footer Section========== */

.footer-links {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  margin: auto;
}

.footer-links .social-links a .fab {
  padding: 5px;
}

.footer-links .social-links a {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram {
  background-color: #c13584;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.youtube {
  background-color: #ff0000;
}
